# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Dataset
# ==========================

datasets/
**/chest_ctscan/
Dataset/
# ==========================
# Trained Models
# ==========================

*.keras
*.h5
*.weights.h5

# ==========================
# Outputs
# ==========================

outputs/
checkpoints/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# TensorBoard
# ==========================

logs/